.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.add-btn {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: auto;
}

.content {
  margin: 20px;
  padding: 20px;
}
